{% extends "templates/web.html" %}

{% block page_content %}
<div class="container my-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 id="survey_title" class="card-title">Загрузка опроса...</h2>
      <p id="survey_description" class="text-muted"></p>

      <form id="survey_form" class="mt-4"></form>

      <div class="text-end mt-4">
        <button id="submit_btn" class="btn btn-primary" disabled>Отправить ответы</button>
      </div>
    </div>
  </div>

  <div id="survey_message" class="mt-4"></div>
</div>
<script>
  const SURVEY_INSTANCE = "{{ instance_name }}";
  const UNIQ_LINK = "{{ uniq_link }}";
</script>
<script src="{{ '/assets/eva_survey/js/survey_page.js' }}"></script>
{% endblock %}
